/* custom varables */
:root {
  --Paleblue: hsl(225, 100%, 94%);
  --Brightblue: hsl(245, 75%, 52%);
  --Verypaleblue: hsl(225, 100%, 98%);
  --Desaturatedblue: hsl(224, 23%, 55%);
  --Darkblue: hsl(223, 47%, 23%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
  display: grid;
  place-content: center;
  background-image: url("/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--Paleblue);
}

/* hero section */
main {
  width: 22.5rem;
  border-radius: 0.9375rem;
  background-color: white;
  height: 35rem;
  margin-top: 3.125rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0.625rem 0.625rem;
}
.hero figure img {
  max-width: 100%;
  border-radius: 0.9375rem 0.9375rem 0 0;
}

/* summary section */
.summary {
  padding: 0.9375rem 1.875rem;
  text-align: center;
}
.summary h1 {
  padding: 0.9375rem;
  color: var(--Darkblue);
  font-weight: 900;
}
.summary p {
  color: var(--Desaturatedblue);
  line-height: 1.5625rem;
  font-weight: 500;
}

/* payment plan */
.payment-plan {
  background-color: var(--Verypaleblue);
  display: block;
  margin: 0 1.875rem;
  height: 4.375rem;
  border-radius: 0.5rem;
  position: relative;
}
.payment-plan figure img {
  display: block;
  float: left;
  padding: 0.9375rem 0.9375rem;
  height: 4.375rem;
}

#plan {
  padding-top: 0.8125rem;
  line-height: 1.5625rem;
  color: var(--Darkblue);
  font-weight: 700;
}
.payment-plan p {
  padding-bottom: 0.125rem;
  color: var(--Desaturatedblue);
  font-weight: 500;
}
.payment-plan a:hover {
  cursor: pointer;
  text-decoration: none;
  color: hsl(245deg 75% 52% / 70%);
}

.payment-plan a {
  position: absolute;
  right: 1.25rem;
  top: 1.5625rem;
  color: var(--Brightblue);
  font-weight: 700;
}

/* check out section */
.check-out {
  text-align: center;
  padding-top: 1.375rem;
}
.box-shadow {
  box-shadow: 0 0 1.25rem;
  width: 18.75rem;
}
.check-out button {
  background-color: var(--Brightblue);
  display: block;
  width: 18.75rem;
  height: 2.5rem;
  margin: 0px 1.875rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 900;
  color: white;
  box-shadow: 0 0.9375rem 0.625rem rgb(0, 0, 0, 0.19);
}
.check-out button:hover {
  cursor: pointer;
  background-color: hsl(245deg 75% 52% / 70%);
}

.check-out p {
  padding-top: 1.5625rem;
  font-weight: 700;

  color: var(--Desaturatedblue);
}
.check-out p:hover {
  cursor: pointer;
  color: var(--Darkblue);
}

.attribution {
  font-size: 0.8125rem;
  text-align: center;
  padding-top: 3.75rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* media query */
@media screen and (max-width: 375px) {
  body {
    background-image: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Paleblue);
    margin-left: 3.125rem;
    margin-right: 3.125rem;
  }
  .summary p {
    padding: 0 0.9375rem;
  }
}
